# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipch
*.db
temp/compile/windows/x64/Debug/vision.cpp.ifc.dt.module.json
temp/compile/windows/x64/Debug/test.h_7A630B26AEC287F8.ifc.dt.module.json
temp/compile/windows/x64/Debug/test.cpp.ifc.dt.module.json
temp/compile/windows/x64/Debug/screen.cpp.ifc.dt.d.json
temp/compile/windows/x64/Debug/ngs_hello.cpp.ifc.dt.module.json
temp/compile/windows/x64/Debug/ngs.cpp.ifc.dt.module.json
temp/compile/windows/x64/Debug/main.cpp.ifc.dt.module.json
temp/compile/windows/x64/Debug/gyroscope.cpp.ifc.dt.d.json
temp/compile/windows/x64/Debug/gui.h_35A55814BBABF784.ifc.dt.module.json
temp/compile/windows/x64/Debug/engine.cpp.ifc.dt.d.json
temp/compile/windows/x64/Debug/draw.h_C2A224657B528276.ifc.dt.module.json
temp/compile/windows/x64/Debug/draw.cpp.ifc.dt.module.json
temp/compile/windows/x64/Debug/camera.cpp.ifc.dt.d.json
temp/compile/optical_design/x64/Debug/vision.hpp_2A5B8AEE55776C79.ifc.dt.module.json.command
temp/compile/optical_design/x64/Debug/vision.h_8A1805034AF3F91.ifc.dt.module.json.command
temp/compile/optical_design/x64/Debug/screen.h_E10719ADEFB7975B.ifc.dt.d.json
temp/compile/optical_design/x64/Debug/physic.h_5A9D687A93D49162.ifc.dt.d.json
temp/compile/optical_design/x64/Debug/path.h_70EE980CE7BF962E.ifc.dt.d.json
temp/compile/optical_design/x64/Debug/optical_design.h_76C5999320FCD0B8.ifc.dt.d.json
temp/compile/optical_design/x64/Debug/node.h_13140B7DE5FAAFAE.ifc.dt.d.json
temp/compile/optical_design/x64/Debug/move.h_4660EC17512062F7.ifc.dt.d.json
temp/compile/optical_design/x64/Debug/maze.h_FEF05AEDAED12BFD.ifc.dt.d.json
temp/compile/optical_design/x64/Debug/main_data.h_F13BB52B0C3E18C7.ifc.dt.d.json
temp/compile/optical_design/x64/Debug/inflection_point.h_8602CA69F1867318.ifc.dt.d.json
temp/compile/optical_design/x64/Debug/gyroscope.h_CE51801F9E98C210.ifc.dt.d.json
temp/compile/optical_design/x64/Debug/grid.h_7F8ACCC8A18FFB3A.ifc.dt.d.json
temp/compile/optical_design/x64/Debug/engine.h_7500F308BBE47A41.ifc.dt.d.json
temp/compile/optical_design/x64/Debug/device.h_5188BBF08E5F9E31.ifc.dt.d.json
temp/compile/optical_design/x64/Debug/defined.h_9A4A399C7BACB10A.ifc.dt.module.json.command
temp/compile/optical_design/x64/Debug/defined.h_9A4A399C7BACB10A.ifc.dt.module.json
temp/compile/optical_design/x64/Debug/defined.h_9A4A399C7BACB10A.ifc.dt.d.json
temp/compile/optical_design/x64/Debug/defined.h_52BE0932B5933228.ifc.dt.d.json
temp/compile/optical_design/x64/Debug/ctrl.h_1F226AEB3D732A3B.ifc.dt.d.json
temp/compile/optical_design/x64/Debug/camera.h_D04B2B9FFB529F3C.ifc.dt.d.json
*.opendb
